<%- include('partials/header') -%>
<main>
    <div
    class="bg-image d-flex flex-row-reverse"
    style="background-image: url('./imgs/front-page-picture.jpg');">
        <div class="color-overlay d-flex justify-content-around align-items-center">
            <a href="/login" class="col-3 btn btn-primary">Login</a>
            <a href="/signup" class="col-3 btn btn-primary">Signup</a>
        </div>
    </div>
</main> 

<%- include('partials/footer') -%>