<%- include('partials/header') -%>
<main>
 <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
        <div class="w-full flex justify-center">
            <img src="./imgs/front-page-picture.jpg" class="max-w-lg rounded-lg shadow-2xl" />
        </div>
        <div class="flex flex-col w-full lg:flex-row"> 
            <div class="divider lg:divider-horizontal divider-vertical"></div> 
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 p-3">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero recusandae, amet omnis voluptatibus commodi assumenda sapiente odio, nemo facere, excepturi iusto praesentium? Alias nihil dolorum sunt id blanditiis itaque esse?</p>
            </div>
              <%# The button to open modal %>
              <label for="my-modal-4" class="modal-button btn ">Login</label>
              <%# The button to open modal %>

              <!-- modal fillout form to login -->
              <input type="checkbox" id="my-modal-4" class="modal-toggle" />
              <label for="my-modal-4" class="modal cursor-pointer ">
                <label class="modal-box relative btn-primary" for="">
                  <form action="/login" method="POST">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email address</label>
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="email"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        name="password"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                </label>
              </label>
              <div class="form-control mt-6 p-0">
                <a class="btn btn-primary" href="/signup" ">Signup</a>
              </div>
        </div>
  </div>

 <%- include('partials/footer') -%>