
.fa-trash{
    color: rgb(237, 105, 94);
    background: inherit;
    border: none;
}
.fa-trash:hover{
    color: white !important;
    background: rgb(237, 105, 94) !important;
}

.comments {
    border-radius: 8px;
}

